AIG-TravelGuard/app/src/main/assets/ADBMobileConfig.json merge=ours
AIG-TravelGuard/libs/SalesforceSDK/res/values/bootconfig.xml merge=ours
AIG-TravelGuard/libs/SalesforceSDK/res/xml/servers.xml merge=ours
